@import"./font-awesome.css";


.list-icons{
    
    list-style none;
    margin 0;
    padding 0;
    
    .list-icons__li{
        margin-bottom 0.7em;
         padding-left 2.4em;
         position relative;
        
        .list-icons__li-icon{
            position absolute;
            left 0;
            font-size 1.3em;
            width 1.5em;
            text-align center;
        }
    }
}