.slider-reviews{
    
    display flex;
    justify-content space-between;
    align-items center;
    
    .slider-reviews__content{
        
        
        overflow hidden;
        width 75%;
    
        .slider-reviews__content-inner{
            
            width 200%;
            
             .review{
                float left
                width 50%;
                height 100%;
                display flex;
                justify-content space-between;
                
                max-height 20em;
                
               .review__profil{
                   
                   font-size  0.7em;
                  
               }
               
               .review__text{
                   
                   width 50%;
               }
               
            }    
                
        }
           
        
        
    }
    
    
    
    .arrow-button{
        
        width 8%;
    }
}