mixin News(title, date, text, src)    
    section&attributes(attributes)(style="background-image: url("+src+");" ).news
                        div.news__inner
                            p.news__title!= title 
                            p.news__date!= date 
                            p.news__text!= text 