mixin tick-box( name, background_color, checked)
    label(data-background-color!=background_color   checked!=checked)&attributes(attributes).tick-box
        input(type="checkbox" style="display: none" name!= name)
        div.tick-box__inner
            svg( viewbox=" 0 0 100 100").tick-box-svg
                circle( cx="50%" cy="50%" r="46%" style=" fill: "+background_color+";" )
                polyline( points="32,52 48,68 77,38" fill="none" stroke="#c0c0c0" stroke-width="10%" )
                