@font-face{
    
    font-family LatoBlack;
    src url(./Lato-Black.ttf);
}


.ripple-button{
    
    background-color #e75735;
    color white;
    padding 0.6em;
    font-family LatoBlack;
    border none;
    border-radius 0.3em;
    font-size: 1em;
    text-transform uppercase;
    cursor pointer;
    position: relative;
    overflow:hidden;
    border: none;
    outline:none;
    user-select:none;
}

.ripple-button_simple-blue{
    
    background-color #4eb7a8;
}

.ripple-button_simple-red{
    
    background-color #e75735;
}

.ripple-button_border-bottom-blue{
    
    background-color #4eb7a8;
    border-bottom  solid 0.25em #28a290;
}

.ripple-button_border-bottom-bluuue{
    
    background-color #005bac;
    border-bottom  solid 0.25em darken(#005bac, 25%);
}

.ripple-button_border-bottom-white-blue{
    
    color #4eb7a8
    background-color white;
    border-bottom  solid 0.25em #28a290;
}

.ripple-button_border-bottom-red{ 
 
    background-color #e75735;
    border-bottom  solid 0.25em #bf3e1f;
}

.ripple-button_white-blue{
    
    background-color white;
    color #4eb7a8;
    padding 0.5em;
    border solid 0.1em #4eb7a8;
    border-bottom  solid 0.3em #4eb7a8;
}

.ripple-button_white-red{
    
    background-color white;
    color #e75735;
    padding 0.5em;
    border solid 0.1em #e75735;
    border-bottom  solid 0.3em #e75735;
}
.ripple{
    
     position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

    
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}
