@font-face{
    
    font-family LatoBlack;
    src url("./Lato-Black.ttf");
}
 .toggle{
                        
        position relative;
        display block;
        width 7em;
        height 3em;
        border-radius 3em;
        cursor pointer;
        transition background 0.5s ease;
        
        .toggle__circle{
            
            background-color white;
            position absolute;
            top: 0.4em;
            width 2.2em;
            height 2.2em;
            border-radius 100%;
        }        
        
    }
    .toggle_on{
        
       
        text-align left;
        
        .toggle__circle{
            left auto;
             right 5%; 
        }
     &:after{
            
            content "on" !important;
            display block;
            position absolute;
            left 0.5em ; 
            top 0.35em;
            font-family LatoBlack;
             text-transform uppercase;
             color white;
              font-size 1.5em;
        }
    }

  
    .toggle_off{
        background-color #e5e5e5 !important;
        text-align right ;
        
        .toggle__circle{
        
             left 5% !important;
        }
        
           &:after{
            
            content "off" !important;
            display block;
            position absolute;
            right 0.5em !important;
            top 0.35em;
            font-family LatoBlack;
             text-transform uppercase;
             color white;
              font-size 1.5em;
        }
  }