mixin Pie-chart( percent, linewidth, barcolor)
    div&attributes(attributes)( data-percent!= percent data-linewidth!=linewidth data-barcolor!= barcolor ).pie-chart
        div.pie-chart__inner
            div.pie-chart__value
                span