
@font-face{
    
    font-family SourceSansProRegular;
    src url("./SourceSansProRegular.ttf");
}


.message-form{
    
    .message-form__form-control{
        
        background-color #e5e5e5;
        color #888888;
        border none;
        border-radius 0.2em;
        font-family SourceSansProRegular;
        font-size 1em;
        width 100%;
        &:focus{

                outline none ;
            }
    }
   
    .message-form__row{
        
        display flex;
        justify-content space-between;
        align-items center;
        
        
        & >:last-child{
          font-size 0.5em;  
        }
    }
    
    .message-form__input-text{

        padding 0.4em 1em;
    }
    
    .message-form__textarea{
        
        resize none;
        padding 1em 0.9em;
    }
    
    
    .messa.e-form__input-search{
        
        position relative;
        overflow hidden;
        border-radius 0.2em;
        
         .message-form__form-control{
                            
            width 100%;
            padding 0.35em 1em;
            
        }
        
        svg{
            height 100%;
            width 2.2em;
            position absolute;
            top 0;
            right 0;
            background-color #e75735;
            cursor pointer;
        }
    }
    
    
    

    
}

