mixin Search(name)
    div&attributes(attributes).message-form__input-search
        input(type="search" placeholder="Search").message-form_form-control
        svg(viewbox="0 0 100 100")
            circle( cx="43%" cy="47%" r="12%" fill="#e75735" stroke="white" stroke-width="8%")
            line( x1="54" y1="56" x2="71" y2="71" stroke="white" stroke-width="8%")